        /*Zhiyang Chen*/
        /**
        * THUMB
        **/
          .card_thumb {
            height: 200px;
            overflow: hidden;
            background-color: #000;
            -webkit-transition: height 0.5s;
            transition: height 0.5s;
          }
          .card_thumb img {
            display: block;
            opacity: 1;
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
            transition: opacity 0.5s, -webkit-transform 0.5s;
            transition: opacity 0.5s, transform 0.5s;
            transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
          }
          .card:hover .card_thumb {
            height: 130px;
          }
  
          .card:hover .card_thumb img {
            opacity: 0.6;
            -webkit-transform: scale(1.2);
                    transform: scale(1.2);
          }
          .card_thumb_horizontal {
            width: 200px;
            overflow: hidden;
            background-color: #000;
            -webkit-transition: width 0.5s;
            transition: width 0.5s;
          }
          .card_thumb_horizontal img {
            display: block;
            opacity: 1;
            -webkit-transform: scale(1);
                    transform: scale(1);
            -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
            transition: opacity 0.5s, -webkit-transform 0.5s;
            transition: opacity 0.5s, transform 0.5s;
            transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
          }
          .card-horizontal:hover .card_thumb_horizontal {
            width: 130px;
          }
  
          .card-horizontal:hover .card_thumb_horizontal img {
            opacity: 0.6;
            -webkit-transform: scale(1.2);
                    transform: scale(1.2);
          }
          /**
          * BODY
          **/
          .card-body {
            position: relative;
            height: 200px;
            padding: 20px;
            -webkit-transition: height 0.5s;
            transition: height 0.5s;
          }
          .card:hover .card-body {
            height: 400px;
          }
  
          .card-category {
            position: absolute;
            top: -25px;
            left: 0;
            height: 25px;
            padding: 0 15px;
            background-color: coral;
            color: #fff;
            text-transform: uppercase;
            font-size: 11px;
            line-height: 25px;
          }
  
          .card-title {
            margin: 0;
            padding: 0 0 10px 0;
            color: #000;
            font-size: 22px;
            font-weight: bold;
            text-transform: uppercase;
          }
  
          .card-subtitle {
            margin: 0;
            padding: 0 0 10px 0;
            font-size: 19px;
            color: coral;
          }
  
          .card-text {
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 56px;
            margin: 0;
            padding-bottom: 10px;
            color: #666C74;
            line-height: 27px;
            opacity: 0;
            -webkit-transform: translateY(90px);
                    transform: translateY(90px);
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            transition: opacity 0.3s, -webkit-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
            transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
            -webkit-transition-delay: 0s;
                    transition-delay: 0s;
          }
          .card:hover .card-text {
            opacity: 1;
            -webkit-transform: translateY(0);
                    transform: translateY(0);
            -webkit-transition-delay: 0.2s;
                    transition-delay: 0.2s;
          }
          .card-horizontal:hover .card-text {
            opacity: 1;
            -webkit-transform: translateY(170px);
                    transform: translateY(170px);
            -webkit-transition-delay: 0.2s;
                    transition-delay: 0.2s;
          }
  
          .card-footer {
            position: absolute;
            bottom: 12px;
            left: 0px;
            right: 20px;
            font-size: 11px;
            color: #A3A9A2;
            background-color: #fff;
          }
  
          .icon {
            display: inline-block;
            vertical-align: middle;
            margin: -2px 0 0 2px;
            font-size: 18px;
          }
          .icon + .icon {
            padding-left: 10px;
          }