/* Zhiyang Chen*/

.word--redraw {
	font-size: 7vw;
	font-family: 'Montserrat', serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #ededed;
	line-height: 0.7125;
	letter-spacing: -0.02em;
}

.word--redraw span {
	display: block;
	position: relative;
}

.word--redraw svg {
	left: 50%;
	position: absolute;
	height: 100%;
	width: auto;
	max-width: 100%;
	fill: none;
	stroke: var(--color-text);
	stroke-width: 4px;
	transform: translateX(-50%);
	stroke-linecap: round;
	stroke-linejoin: round;
}

.word--redraw svg path {
	opacity: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Color schemes */

.demo-redraw {
	--color-text: #0c48a4;
	--color-background: #7d96df;
	--color-link: #0c48a4;
	--color-link-hover: #ededed;
}


/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-background);
}

.js .loading::after {
	content: '';
	box-shadow: 20px 0 0, -20px 0 0;
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin: -5px 0 0 -5px;
	pointer-events: none;
	border-radius: 50%;
	background: var(--color-text);
	animation: loaderAnim 1s ease-in-out infinite alternate forwards;
}

@keyframes loaderAnim {
	0% {
		box-shadow: 20px 0 0 var(--color-text), -20px 0 0 transparent;
		background: transparent;
	}
	50% {
		box-shadow: 20px 0 0 transparent, -20px 0 0 transparent;
		background: var(--color-text);
	}
	100% {
		box-shadow: 20px 0 0 transparent, -20px 0 0 var(--color-text);
		background: transparent;
	}
}

.content {
	position: relative;
	display: grid;
	justify-content: center;
	align-content: center;
	height: 40vh;
	overflow: hidden;
	min-height: 40vh;
	margin: 0 auto;
}


.content--layout {
	grid-template-columns: 100%;
	padding: 3em 0;
}


/* Common styles for the words */
.word {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media screen and (min-width: 50em) {
	.demos {
		align-self: end;
		justify-self: end;
		display: flex;
	}
	.demo {
		display: block;
		border: 2px solid;
		width: 12px;
		height: 12px;
		border-radius: 2px;
		margin: 0 10px 0 0;
	}
	a.demo--current {
		background: currentColor;
	}
	.demo span {
		position: absolute;
		display: none;
		right: 100%;
		top: -0.35em;
		margin: 0 1em 0 0;
	}
	.demo--current span {
		display: block;
	}
}

@media screen and (max-width: 50em) {
	html, body {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
	}
	.content {
		height: auto;
		min-height: 0;
	}
	.content--layout {
		overflow: visible;
	}
	.demo-magneto .content--layout {
		padding: 1em 0 0 0;
	}
	.word.word--redraw {
		font-size: 5em;
	}
}